{% extends "node--teaser.html.twig" %}

{% block card_teaser_type %}
  <a href="{{ url }}">
    <div class="teaser__teaser-type">
      <svg class="teaser__teaser-type-icon">
        {% if event_type_icon %}
          <use xlink:href="#{{- event_type_icon -}}"></use>
        {% else %}
          <use xlink:href="#icon-{{- node.bundle|clean_class -}}"></use>
        {% endif %}
      </svg>
    </div>
  </a>
{% endblock %}

{% block card_body %}

  {% if content.field_date_due|render is not empty %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} event {%- endblock -%}
      {%- block field_value -%}
        <span class="sr-only">{% trans %}The event will take place at the{% endtrans %} </span>
        {{ content.field_date_due }}
      {%- endblock -%}
    {% endembed %}
  {% endif %}

  {% if content.field_date|render is not empty %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} event {%- endblock -%}
      {%- block field_value -%}
        
        {{ content.field_date }}
      {%- endblock -%}
    {% endembed %}
  {% endif %}

  {% if content.field_date_cut_off|render is not empty %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} event {%- endblock -%}
      {%- block field_value -%}
        <span class="sr-only">{% trans %}The event will take place at the{% endtrans %} </span>
        {{ content.field_date_cut_off }}
      {%- endblock -%}
    {% endembed %}
  {% endif %}


  {% if content.field_event_location|render is not empty %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} location {%- endblock -%}
      {%- block field_value -%}
        <span class="sr-only">{% trans %}The event will take place at the{% endtrans %} </span>
        {{ content.field_event_location }}
      {%- endblock -%}
    {% endembed %}
  {% endif %}

  {% if event_type %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} label {%- endblock -%}
      {%- block field_value -%}
        <span class="sr-only">{% trans %}This event has type{% endtrans %} </span>
        {{ event_type }}
      {%- endblock -%}
    {% endembed %}
  {% endif %}

  {% if content.group_name %}
    {% embed "node--teaser__field.html.twig" %}
      {%- block field_icon -%} group {%- endblock -%}
      {%- block field_value -%}
        <span class="sr-only">{% trans %}This event is posted in{% endtrans %} </span>
        {{ content.group_name }}
      {%- endblock -%}
    {% endembed %}
  {% endif %}

{% endblock %}

{% block card_actionbar %}

  {% if visibility_icon and visibility_label %}
    <div class="badge teaser__badge"
         title="{% trans %}The visibility of this content is set to {{ visibility_label }}{% endtrans %} ">
      <span class="badge__container">
        <svg class="badge__icon">
          <use xlink:href="#icon-{{ visibility_icon }}"></use>
        </svg>
        <span class="badge__label text-gray">{{ visibility_label|capitalize }}</span>
      </span>
    </div>
  {% endif %}

  {% if content.assignments_count is not empty %}
    <div class="badge teaser__badge" title="{% trans %}Total amount of assignments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon" aria-hidden="true">
          <use xlink:href="#icon-person"></use>
        </svg>
        <span class="badge__label text-gray">
          {{ content.assignments_count }}
        </span>
      </span>
    </div>
  {% endif %}

   

    {% if content.assignments_count_open is not empty %}
    <div class="badge teaser__badge" title="{% trans %}open assignments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon" aria-hidden="true">
          <use xlink:href="#icon-person"></use>
        </svg>
        <span class="badge__label text-gray">
          {{ content.assignments_count_open }}
        </span>
      </span>
    </div>
  {% endif %}

    {% if content.assignments_count_submitted is not empty %}
    <div class="badge teaser__badge" title="{% trans %}submitted assignments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon" aria-hidden="true">
          <use xlink:href="#icon-person"></use>
        </svg>
        <span class="badge__label text-gray">
          {{ content.assignments_count_submitted }}
        </span>
      </span>
    </div>
  {% endif %}  

  {% if content.field_task_flow == 'feedback' %}

    {% if content.assignments_count_completed is not empty %}
    <div class="badge teaser__badge" title="{% trans %}completed assignments{% endtrans %}">
      <span class="badge__container">
        <svg class="badge__icon" aria-hidden="true">
          <use xlink:href="#icon-person"></use>
        </svg>
        <span class="badge__label text-gray">
          {{ content.assignments_count_completed }}
        </span>
      </span>
    </div>
  {% endif %}  

  {% endif %}  

  {% if content.ongoing %}
    <span class="badge badge-primary teaser__badge">
          {{ content.ongoing }}
        </span>
  {% endif %}
  {% if content.assigned %}
    <span class="badge badge-default teaser__badge">
      {{ content.assigned }}
    </span>
  {% endif %}
 {% if content.assigned_status %}
    <span class="badge badge-default teaser__badge">
      {{ content.assigned_status }}
    </span>
  {% endif %}

  {{ content.links }}

{% endblock %}
